In [1]:
import pandas as pd
import numpy as np
import os
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
#from library.sb_utils import save_file
import datetime

In [2]:
pwd

'/Users/ozgunuzer/Desktop/SB-Projects/Capstone/data/Airbnb_SF'

In [4]:
sf = pd.read_csv('listings.csv')

FileNotFoundError: [Errno 2] File b'listings.csv' does not exist: b'listings.csv'

In [3]:
sf_jan.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,958,https://www.airbnb.com/rooms/958,20210108081038,2021-01-10,"Bright, Modern Garden Unit - 1BR/1BTH","Due to city restrictions, out of state visitor...",Quiet cul de sac in friendly neighborhood<br /...,https://a0.muscache.com/pictures/b7c2a199-4c17...,1169,https://www.airbnb.com/users/show/1169,...,10.0,10.0,10.0,STR-0001256,f,1,1,0,0,1.95
1,5858,https://www.airbnb.com/rooms/5858,20210108081038,2021-01-10,Creative Sanctuary,<b>The space</b><br />We live in a large Victo...,I love how our neighborhood feels quiet but is...,https://a0.muscache.com/pictures/17714/3a7aea1...,8904,https://www.airbnb.com/users/show/8904,...,10.0,10.0,9.0,NaN,f,1,1,0,0,0.78
2,7918,https://www.airbnb.com/rooms/7918,20210108081038,2021-01-10,A Friendly Room - UCSF/USF - San Francisco,Nice and good public transportation. 7 minute...,"Shopping old town, restaurants, McDonald, Whol...",https://a0.muscache.com/pictures/26356/8030652...,21994,https://www.airbnb.com/users/show/21994,...,9.0,9.0,8.0,NaN,f,8,0,8,0,0.14
3,8142,https://www.airbnb.com/rooms/8142,20210108081038,2021-01-09,Friendly Room Apt. Style -UCSF/USF - San Franc...,Nice and good public transportation. 7 minute...,NaN,https://a0.muscache.com/pictures/27832/3b1f9e5...,21994,https://www.airbnb.com/users/show/21994,...,10.0,9.0,9.0,NaN,f,8,0,8,0,0.10
4,8339,https://www.airbnb.com/rooms/8339,20210108081038,2021-01-09,Historic Alamo Square Victorian,Pls email before booking. <br />Interior featu...,NaN,https://a0.muscache.com/pictures/213fbf05-3545...,24215,https://www.airbnb.com/users/show/24215,...,10.0,10.0,10.0,STR-0000264,f,2,2,0,0,0.20

In [4]:
sf_jan.shape

(7002, 74)

In [5]:
sf_jan.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [6]:
# Here we can see that there are 74 columns in total. Some of them will not be very relevant to our analysis.
# So, we need to drop some of these.

In [7]:
sf_jan = sf_jan.drop(columns = ['listing_url', 'scrape_id', 'last_scraped','description','picture_url', 'host_url',
                               'host_name', 'host_since', 'host_location', 'host_about','host_thumbnail_url', 'host_picture_url',
                               'host_identity_verified','neighbourhood_cleansed', 'neighbourhood_group_cleansed','bathrooms_text',
                               'minimum_minimum_nights','maximum_minimum_nights', 'minimum_maximum_nights','maximum_maximum_nights', 'minimum_nights_avg_ntm',
                               'maximum_nights_avg_ntm', 'calendar_updated', 'calendar_last_scraped','number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
                               'last_review','review_scores_communication', 'review_scores_location','review_scores_value', 'license', 'instant_bookable',
                                'calculated_host_listings_count','calculated_host_listings_count_entire_homes','calculated_host_listings_count_private_rooms',
                                'calculated_host_listings_count_shared_rooms','host_response_time','host_response_rate',
                               'host_acceptance_rate','host_verifications', 'host_has_profile_pic','neighborhood_overview','name'])

In [8]:
sf_jan.columns

Index(['id', 'host_id', 'host_is_superhost', 'host_neighbourhood',
       'host_listings_count', 'host_total_listings_count', 'neighbourhood',
       'latitude', 'longitude', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'amenities', 'price', 'minimum_nights',
       'maximum_nights', 'has_availability', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'reviews_per_month'],
      dtype='object')

In [9]:
sf_jan.shape

(7002, 30)

In [10]:
sf_jan.head()

,id,host_id,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,neighbourhood,latitude,longitude,property_type,...,availability_30,availability_60,availability_90,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,reviews_per_month
0,958,1169,t,Duboce Triangle,1.0,1.0,"San Francisco, California, United States",37.77028,-122.43317,Entire apartment,...,8,8,13,167,272,97.0,10.0,10.0,10.0,1.95
1,5858,8904,f,Bernal Heights,2.0,2.0,"San Francisco, California, United States",37.74511,-122.42102,Entire apartment,...,30,60,90,365,111,98.0,10.0,10.0,10.0,0.78
2,7918,21994,f,Cole Valley,10.0,10.0,"San Francisco, California, United States",37.76555,-122.45213,Private room in apartment,...,30,60,90,365,19,84.0,7.0,8.0,9.0,0.14
3,8142,21994,f,Cole Valley,10.0,10.0,NaN,37.76555,-122.45213,Private room in apartment,...,30,60,90,365,8,93.0,9.0,9.0,10.0,0.10
4,8339,24215,f,Alamo Square,2.0,2.0,NaN,37.77525,-122.43637,Entire condominium,...,30,60,90,365,28,97.0,10.0,10.0,10.0,0.20

In [11]:
sf_jan.describe()

,id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,...,availability_30,availability_60,availability_90,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,reviews_per_month
count,7.002000e+03,7.002000e+03,7001.000000,7001.000000,7002.000000,7002.000000,7002.000000,0.0,6124.000000,6962.000000,...,7002.000000,7002.000000,7002.000000,7002.000000,7002.000000,5257.000000,5234.000000,5234.00000,5233.000000,5301.000000
mean,2.442286e+07,7.531051e+07,67.188116,67.188116,37.768117,-122.429205,3.078406,NaN,1.496081,1.712439,...,12.598686,27.764353,44.412454,154.887889,43.233076,95.145901,9.730799,9.58311,9.826104,1.232911
std,1.492465e+07,9.885241e+07,263.068369,263.068369,0.022936,0.026690,1.855283,NaN,0.842961,1.207308,...,13.418283,26.538939,39.427149,143.976931,82.818246,8.434693,0.777539,0.87520,0.658651,1.603976
min,9.580000e+02,4.700000e+02,0.000000,0.000000,37.708250,-122.511630,1.000000,NaN,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,2.000000,2.00000,2.000000,0.010000
25%,1.084497e+07,4.430421e+06,1.000000,1.000000,37.753065,-122.441582,2.000000,NaN,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,94.000000,10.000000,9.00000,10.000000,0.170000
50%,2.496845e+07,2.292746e+07,2.000000,2.000000,37.771575,-122.423120,2.000000,NaN,1.000000,1.000000,...,6.000000,24.000000,45.000000,117.500000,7.000000,98.000000,10.000000,10.00000,10.000000,0.580000
75%,3.821882e+07,1.074344e+08,13.000000,13.000000,37.787247,-122.409985,4.000000,NaN,2.000000,2.000000,...,29.000000,59.000000,89.000000,315.000000,45.000000,100.000000,10.000000,10.00000,10.000000,1.680000
max,4.751510e+07,3.832662e+08,2646.000000,2646.000000,37.810310,-122.367050,16.000000,NaN,9.000000,14.000000,...,30.000000,60.000000,90.000000,365.000000,821.000000,100.000000,10.000000,10.00000,10.000000,17.410000

In [12]:
covid = pd.read_csv('us-counties_covid.csv')

In [13]:
covid.head()

,date,county,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,2021-03-14,Autauga,Alabama,1001.0,6416,95.0,5527.0,85.0,889.0,10.0
1,2021-03-14,Baldwin,Alabama,1003.0,20091,294.0,14243.0,220.0,5848.0,74.0
2,2021-03-14,Barbour,Alabama,1005.0,2181,53.0,1220.0,36.0,961.0,17.0
3,2021-03-14,Bibb,Alabama,1007.0,2479,58.0,2012.0,34.0,467.0,24.0
4,2021-03-14,Blount,Alabama,1009.0,6288,129.0,4838.0,109.0,1450.0,20.0

In [14]:
covid.shape

(3247, 10)

In [15]:
covid = covid.loc[covid.state == 'California']

In [16]:
covid.head()

,date,county,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
186,2021-03-14,Alameda,California,6001.0,81990,1325.0,81990.0,1325.0,NaN,NaN
187,2021-03-14,Alpine,California,6003.0,82,0.0,82.0,0.0,NaN,NaN
188,2021-03-14,Amador,California,6005.0,3502,44.0,3502.0,44.0,NaN,NaN
189,2021-03-14,Butte,California,6007.0,11126,184.0,11126.0,184.0,NaN,NaN
190,2021-03-14,Calaveras,California,6009.0,1916,49.0,1916.0,49.0,NaN,NaN

In [17]:
covid.shape

(58, 10)

In [18]:
covid.date.unique()

array(['2021-03-14'], dtype=object)

In [19]:
covid.county.unique()

array(['Alameda', 'Alpine', 'Amador', 'Butte', 'Calaveras', 'Colusa',
       'Contra Costa', 'Del Norte', 'El Dorado', 'Fresno', 'Glenn',
       'Humboldt', 'Imperial', 'Inyo', 'Kern', 'Kings', 'Lake', 'Lassen',
       'Los Angeles', 'Madera', 'Marin', 'Mariposa', 'Mendocino',
       'Merced', 'Modoc', 'Mono', 'Monterey', 'Napa', 'Nevada', 'Orange',
       'Placer', 'Plumas', 'Riverside', 'Sacramento', 'San Benito',
       'San Bernardino', 'San Diego', 'San Francisco', 'San Joaquin',
       'San Luis Obispo', 'San Mateo', 'Santa Barbara', 'Santa Clara',
       'Santa Cruz', 'Shasta', 'Sierra', 'Siskiyou', 'Solano', 'Sonoma',
       'Stanislaus', 'Sutter', 'Tehama', 'Trinity', 'Tulare', 'Tuolumne',
       'Ventura', 'Yolo', 'Yuba'], dtype=object)

In [20]:
sf_jan.neighbourhood.unique()

array(['San Francisco, California, United States', nan,
       'San Francisco, Hayes Valley, California, United States',
       'Noe Valley - San Francisco, California, United States',
       'Daly City, California, United States',
       'San Franscisco, California, United States',
       'San Jose, California, United States',
       'San Francisco , Ca, United States'], dtype=object)

In [21]:
covid = covid[covid.county == 'San Francisco']

In [22]:
covid.county.unique()

array(['San Francisco'], dtype=object)

In [25]:
covid

,date,county,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
223,2021-03-14,San Francisco,California,6075.0,34761,452.0,34761.0,452.0,NaN,NaN

In [28]:
# back to sf airbnb january data
sf_jan.head()

,id,host_id,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,neighbourhood,latitude,longitude,property_type,...,availability_30,availability_60,availability_90,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,reviews_per_month
0,958,1169,t,Duboce Triangle,1.0,1.0,"San Francisco, California, United States",37.77028,-122.43317,Entire apartment,...,8,8,13,167,272,97.0,10.0,10.0,10.0,1.95
1,5858,8904,f,Bernal Heights,2.0,2.0,"San Francisco, California, United States",37.74511,-122.42102,Entire apartment,...,30,60,90,365,111,98.0,10.0,10.0,10.0,0.78
2,7918,21994,f,Cole Valley,10.0,10.0,"San Francisco, California, United States",37.76555,-122.45213,Private room in apartment,...,30,60,90,365,19,84.0,7.0,8.0,9.0,0.14
3,8142,21994,f,Cole Valley,10.0,10.0,NaN,37.76555,-122.45213,Private room in apartment,...,30,60,90,365,8,93.0,9.0,9.0,10.0,0.10
4,8339,24215,f,Alamo Square,2.0,2.0,NaN,37.77525,-122.43637,Entire condominium,...,30,60,90,365,28,97.0,10.0,10.0,10.0,0.20

In [33]:
# Since we will try to understand the price lets take a look at the price column
sf_jan.price.describe()

count        7002
unique        579
top       $150.00
freq          169
Name: price, dtype: object

In [34]:
missing = pd.DataFrame([sf_jan.isnull().sum(), 100 * sf_jan.isnull().mean()]).transpose()
missing.columns=['count', '%']
#missing.concat(by = ['count', '%'])
missing.sort_values(by = 'count')

                            count           %
id                            0.0    0.000000
minimum_nights                0.0    0.000000
price                         0.0    0.000000
amenities                     0.0    0.000000
availability_30               0.0    0.000000
availability_60               0.0    0.000000
availability_90               0.0    0.000000
accommodates                  0.0    0.000000
room_type                     0.0    0.000000
property_type                 0.0    0.000000
longitude                     0.0    0.000000
latitude                      0.0    0.000000
availability_365              0.0    0.000000
number_of_reviews             0.0    0.000000
host_id                       0.0    0.000000
maximum_nights                0.0    0.000000
has_availability              0.0    0.000000
host_total_listings_count     1.0    0.014282
host_listings_count           1.0    0.014282
host_is_superhost             1.0    0.014282
beds                         40.0    0.571265
host_neighbourhood          442.0    6.312482
bedrooms                    878.0   12.539274
reviews_per_month          1701.0   24.293059
review_scores_rating       1745.0   24.921451
review_scores_accuracy     1768.0   25.249929
review_scores_cleanliness  1768.0   25.249929
review_scores_checkin      1769.0   25.264210
neighbourhood              1982.0   28.306198
bathrooms                  7002.0  100.000000

In [ ]:
# Here the host neighboourhood is not relevant so it can be droppped
# bedrooms has 878 missing values
# review related fields has around 1700 missing values which might indicate that these are new listings
## Bathrooms are all missing. This column is improtant since having a shared bathroom will make a difference with a
# private bathroom

In [35]:
sf_jan.bathrooms

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
6997   NaN
6998   NaN
6999   NaN
7000   NaN
7001   NaN
Name: bathrooms, Length: 7002, dtype: float64