In [1]:
import pandas as pd
import numpy as np
import os
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
#from library.sb_utils import save_file
import datetime as dt
import string

In [2]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [3]:
alphabet = list(string.ascii_lowercase)
#alphabet

In [4]:
# Take the 2 years of data into pandas dataframe and name them
# start from March 2019 data
sf1 = pd.read_csv('listings319.csv')
sf2 = pd.read_csv('listings419.csv')
sf3 = pd.read_csv('listings519.csv')
sf4 = pd.read_csv('listings619.csv')
sf5 = pd.read_csv('listings719.csv')
sf6 = pd.read_csv('listings819.csv')
sf7 = pd.read_csv('listings919.csv')
sf8 = pd.read_csv('listings1019.csv')
sf9 = pd.read_csv('listings1119.csv')
sf10 = pd.read_csv('listings1219.csv')
# 2020 data starting from January
sf11 = pd.read_csv('listings120.csv')
sf12 = pd.read_csv('listings220.csv')
sf13 = pd.read_csv('listings320.csv')
sf14 = pd.read_csv('listings420.csv')
sf15 = pd.read_csv('listings520.csv')
sf16 = pd.read_csv('listings620.csv')
sf17 = pd.read_csv('listings720.csv')
sf18 = pd.read_csv('listings820.csv')
sf19 = pd.read_csv('listings920.csv')
sf20 = pd.read_csv('listings1020.csv')
sf21 = pd.read_csv('listings1120.csv')
sf22 = pd.read_csv('listings1220.csv')
# 2021 data until march
sf23 = pd.read_csv('listings121.csv')
sf24 = pd.read_csv('listings221.csv')
sf25 = pd.read_csv('listings321.csv')

In [5]:
# Took San Francisco (SF) airbnb data for 2 years into 25 different pandas data frames. We see that there is no date
# column that should show the scrape date
sf1.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,958,"Bright, Modern Garden Unit - 1BR/1B",1169,Holly,NaN,Western Addition,37.76931,-122.43386,Entire home/apt,170,1,180,2019-02-17,1.54,1,64
1,5858,Creative Sanctuary,8904,Philip And Tania,NaN,Bernal Heights,37.74511,-122.42102,Entire home/apt,235,30,111,2017-08-06,0.93,1,0
2,7918,A Friendly Room - UCSF/USF - San Francisco,21994,Aaron,NaN,Haight Ashbury,37.76669,-122.45250,Private room,65,32,17,2016-11-21,0.15,9,365
3,8142,Friendly Room Apt. Style -UCSF/USF - San Franc...,21994,Aaron,NaN,Haight Ashbury,37.76487,-122.45183,Private room,65,32,8,2018-09-12,0.15,9,365
4,8339,Historic Alamo Square Victorian,24215,Rosy,NaN,Western Addition,37.77525,-122.43637,Entire home/apt,785,7,27,2018-08-11,0.23,2,90

In [6]:
#Even if adding dates like this looks like extra work which can be dealt with a for loop, I preferred to do it like this 
# for future referance and to keep track of the data
sf1['date'] = pd.to_datetime('01-March-2019')
sf2['date'] = pd.to_datetime('01-April-2019')
sf3['date'] = pd.to_datetime('01-May-2019')
sf4['date'] = pd.to_datetime('01-June-2019')
sf5['date'] = pd.to_datetime('01-July-2019')
sf6['date'] = pd.to_datetime('01-August-2019')
sf7['date'] = pd.to_datetime('01-September-2019')
sf8['date'] = pd.to_datetime('01-October-2019')
sf9['date'] = pd.to_datetime('01-November-2019')
sf10['date'] = pd.to_datetime('01-December-2019')
# 2020 data starting from January
sf11['date'] = pd.to_datetime('01-January-2020')
sf12['date'] = pd.to_datetime('01-February-2020')
sf13['date'] = pd.to_datetime('01-March-2020')
sf14['date'] = pd.to_datetime('01-April-2020')
sf15['date'] = pd.to_datetime('01-May-2020')
sf16['date'] = pd.to_datetime('01-June-2020')
sf17['date'] = pd.to_datetime('01-July-2020')
sf18['date'] = pd.to_datetime('01-August-2020')
sf19['date'] = pd.to_datetime('01-September-2020')
sf20['date'] = pd.to_datetime('01-October-2020')
sf21['date'] = pd.to_datetime('01-November-2020')
sf22['date'] = pd.to_datetime('01-December-2020')
# 2021 data until march
sf23['date'] = pd.to_datetime('01-January-2021')
sf24['date'] = pd.to_datetime('01-February-2021')
sf25['date'] = pd.to_datetime('01-March-2021')

In [7]:
sf1.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,date
0,958,"Bright, Modern Garden Unit - 1BR/1B",1169,Holly,NaN,Western Addition,37.76931,-122.43386,Entire home/apt,170,1,180,2019-02-17,1.54,1,64,2019-03-01
1,5858,Creative Sanctuary,8904,Philip And Tania,NaN,Bernal Heights,37.74511,-122.42102,Entire home/apt,235,30,111,2017-08-06,0.93,1,0,2019-03-01
2,7918,A Friendly Room - UCSF/USF - San Francisco,21994,Aaron,NaN,Haight Ashbury,37.76669,-122.45250,Private room,65,32,17,2016-11-21,0.15,9,365,2019-03-01
3,8142,Friendly Room Apt. Style -UCSF/USF - San Franc...,21994,Aaron,NaN,Haight Ashbury,37.76487,-122.45183,Private room,65,32,8,2018-09-12,0.15,9,365,2019-03-01
4,8339,Historic Alamo Square Victorian,24215,Rosy,NaN,Western Addition,37.77525,-122.43637,Entire home/apt,785,7,27,2018-08-11,0.23,2,90,2019-03-01

In [8]:
sf25.date.unique()

array(['2021-03-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [9]:
sf1.shape

(7151, 17)

In [10]:
sf2.shape

(7277, 17)

In [11]:
sf25.shape

(6883, 17)

In [12]:
# When we check the shapes we see that the column names will be the same but there will be some airbnbs missing
sf1.id.nunique()

7151

In [13]:
sf25.id.nunique()

6883

In [14]:
# we check the missing data for sf1 (March 19 data). In the neighbourhood_group column, the data seems like missing
# for all the rows. We will try to see if we can fill these with other datasets
missing = pd.DataFrame([sf1.isnull().sum(), 100 * sf1.isnull().mean()]).transpose()
missing

                                     0           1
id                                 0.0    0.000000
name                               0.0    0.000000
host_id                            0.0    0.000000
host_name                          0.0    0.000000
neighbourhood_group             7151.0  100.000000
neighbourhood                      0.0    0.000000
latitude                           0.0    0.000000
longitude                          0.0    0.000000
room_type                          0.0    0.000000
price                              0.0    0.000000
minimum_nights                     0.0    0.000000
number_of_reviews                  0.0    0.000000
last_review                     1377.0   19.256048
reviews_per_month               1377.0   19.256048
calculated_host_listings_count     0.0    0.000000
availability_365                   0.0    0.000000
date                               0.0    0.000000

In [15]:
missing25 = pd.DataFrame([sf25.isnull().sum(), 100 * sf25.isnull().mean()]).transpose()
missing25
# Looks like neighbourhood group is missing here as well

                                     0           1
id                                 0.0    0.000000
name                               0.0    0.000000
host_id                            0.0    0.000000
host_name                         15.0    0.217928
neighbourhood_group             6883.0  100.000000
neighbourhood                      0.0    0.000000
latitude                           0.0    0.000000
longitude                          0.0    0.000000
room_type                          0.0    0.000000
price                              0.0    0.000000
minimum_nights                     0.0    0.000000
number_of_reviews                  0.0    0.000000
last_review                     1694.0   24.611361
reviews_per_month               1694.0   24.611361
calculated_host_listings_count     0.0    0.000000
availability_365                   0.0    0.000000
date                               0.0    0.000000

In [16]:
missing12 = pd.DataFrame([sf12.isnull().sum(), 100 * sf12.isnull().mean()]).transpose()
missing12

                                     0           1
id                                 0.0    0.000000
name                               0.0    0.000000
host_id                            0.0    0.000000
host_name                          0.0    0.000000
neighbourhood_group             8587.0  100.000000
neighbourhood                      0.0    0.000000
latitude                           0.0    0.000000
longitude                          0.0    0.000000
room_type                          0.0    0.000000
price                              0.0    0.000000
minimum_nights                     0.0    0.000000
number_of_reviews                  0.0    0.000000
last_review                     1991.0   23.186212
reviews_per_month               1991.0   23.186212
calculated_host_listings_count     0.0    0.000000
availability_365                   0.0    0.000000
date                               0.0    0.000000

In [17]:
# Now we see that column named neighbourhood group might be dropped

In [18]:
## Let's merge the data and see how it changes

In [19]:
print('shape', sf1.shape, 'number of unique ids', sf1.id.nunique())
print('shape', sf2.shape,'number of unique ids',sf2.id.nunique())

shape (7151, 17) number of unique ids 7151
shape (7277, 17) number of unique ids 7277

In [20]:
data1 = pd.merge(sf1,sf2,how='inner',on = 'id')

In [21]:
print('shape', data1.shape,'number of unique ids',data1.id.nunique())
# We have 7151 - 6779 = 372 and 7277 - 6779 = 498 different ids for sf1 and sf2

shape (6779, 33) number of unique ids 6779

In [22]:
# Here we can see that we will lose some data from each merge. Rather than losing data, I will keep all data 
# and try to see if I can make use of the price and attribute relationship even if the id is not the same 
# So I will concat the data
data2 = pd.concat([sf1,sf2])

In [23]:
print('shape', data2.shape,'number of unique ids',data2.id.nunique())

shape (14428, 17) number of unique ids 7649

In [24]:
# when we look at the unique ids 6779+498+372 = 7649. so the number holds.

In [25]:
dt19 = pd.concat([sf1,sf2,sf3,sf4,sf5,sf6,sf7,sf8,sf9,sf10])

In [26]:
print('shape', dt19.shape,'number of unique ids',dt19.id.nunique())

shape (78185, 17) number of unique ids 10901

In [27]:
print(min(dt19.date),max(dt19.date))

2019-03-01 00:00:00 2019-12-01 00:00:00

In [28]:
# 2019 data is ready with 21781 rows and 8021 unique ids

In [29]:
dt20 = pd.concat([sf11,sf12,sf13,sf14,sf15,sf16,sf17,sf18,sf19,sf20,sf21,sf22])

In [30]:
print('shape', dt20.shape,'number of unique ids', dt20.id.nunique())

shape (92833, 17) number of unique ids 11437

In [31]:
print(min(dt20.date),max(dt20.date))

2020-01-01 00:00:00 2020-12-01 00:00:00

In [32]:
dt21 = pd.concat([sf23,sf24,sf25])

In [33]:
print(min(dt21.date),max(dt21.date))

2021-01-01 00:00:00 2021-03-01 00:00:00

In [34]:
print('shape', dt21.shape,'number of unique ids', dt21.id.nunique())

shape (20816, 17) number of unique ids 7378

In [35]:
# In 2020 the number of unique ids have increased(2019 - 10902, 2020 - 11437, 2021 - 7378). 
# This can be due to covid since many people started working remotely.
# They might have chosen to rent their rooms/homes in airbnb. If so this should have effected the prices 
# since the demand also might have gone down due to covid effect

In [37]:
# Lets put the main dataframe together
# This will be our main dataframe with all the data we have
dt = pd.concat([dt19, dt20, dt21])

In [38]:
print('shape', dt.shape,'number of unique ids', dt.id.nunique())

shape (191834, 17) number of unique ids 14001

In [39]:
missing_dt = pd.DataFrame([dt.isnull().sum(), 100 * dt.isnull().mean()]).transpose()
missing_dt

                                       0           1
id                                   0.0    0.000000
name                                 0.0    0.000000
host_id                              0.0    0.000000
host_name                          100.0    0.052128
neighbourhood_group             191834.0  100.000000
neighbourhood                        0.0    0.000000
latitude                             0.0    0.000000
longitude                            0.0    0.000000
room_type                            0.0    0.000000
price                                0.0    0.000000
minimum_nights                       0.0    0.000000
number_of_reviews                    0.0    0.000000
last_review                      42429.0   22.117560
reviews_per_month                42429.0   22.117560
calculated_host_listings_count       0.0    0.000000
availability_365                     0.0    0.000000
date                                 0.0    0.000000

In [40]:
# since all the values for neighbourhood group is missing, we need to drop that column. 
# reviews are also our other problematic columns with 22% missing values

In [41]:
dt = dt.drop(columns = 'neighbourhood_group')

In [42]:
dt.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood', 'latitude',
       'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365', 'date'],
      dtype='object')

In [43]:
dt.shape

(191834, 16)

In [ ]:
# Now we check the reviews that are missing

In [50]:
dt[dt.isnull().any(axis=1)]

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,date
183,220780,"Room in home near beach San Francisco, Ca",1144980,Victor,Outer Richmond,37.775790,-122.507020,Private room,162,30,0,NaN,NaN,2,0,2019-03-01
262,364023,"Beautiful, spacious, modern apt with great views",1789039,Ashleigh,Excelsior,37.726360,-122.433420,Private room,85,30,0,NaN,NaN,1,17,2019-03-01
413,686677,Shared room with bathroom 1 person.,3503605,Joe,Western Addition,37.775320,-122.437410,Shared room,67,30,0,NaN,NaN,2,90,2019-03-01
415,690872,Pacific Hts Designer Home,1142106,Pat,Pacific Heights,37.791390,-122.445520,Entire home/apt,240,30,0,NaN,NaN,2,365,2019-03-01
476,819856,Most Luxury condo in SF!,3752142,Ame,Financial District,37.791190,-122.395640,Entire home/apt,289,30,0,NaN,NaN,1,311,2019-03-01
504,872246,Fully Furnished Condo w/ VIEW of SF,4601029,Wendy,Nob Hill,37.796650,-122.412620,Entire home/apt,205,180,0,NaN,NaN,1,365,2019-03-01
553,992801,Peaceful pied-à-terre in prime SF location!,5452469,Jessica,Western Addition,37.786940,-122.435700,Entire home/apt,135,30,0,NaN,NaN,1,83,2019-03-01
612,1145582,"Charming apartment in the Fillmore, location!",6281643,Luisa,Western Addition,37.786810,-122.432770,Entire home/apt,140,30,0,NaN,NaN,1,365,2019-03-01
656,1261055,Designer loft w/private roof deck,6868559,Dagmar,Potrero Hill,37.763410,-122.389150,Entire home/apt,180,50,0,NaN,NaN,1,364,2019-03-01
673,1307559,"Luxury 3 bed/2 ba, Views, Walk Anywhere+Parking",7108163,Lombard,Russian Hill,37.800810,-122.416780,Entire home/apt,845,30,0,NaN,NaN,1,365,2019-03-01
795,1672055,"❤️Fantastic Luxury Penthouse Apartment, Great ...",262875,Paul,Twin Peaks,37.748460,-122.444800,Entire home/apt,216,30,0,NaN,NaN,3,111,2019-03-01
806,1711075,The Bernal Heights Bedroom Suite,9026224,Elizabeth,Bernal Heights,37.745560,-122.415030,Private room,85,59,0,NaN,NaN,1,358,2019-03-01
828,1798744,Contemporary Soho style condo! *LONG TERM RENTAL,9433172,Maryann,Downtown/Civic Center,37.785690,-122.421270,Entire home/apt,225,30,0,NaN,NaN,1,90,2019-03-01
934,2166157,2 bed 2 bath apt in Alamo Square,5126361,Elena,Western Addition,37.777970,-122.437960,Entire home/apt,300,30,0,NaN,NaN,2,169,2019-03-01
955,2210105,Mediterranean dream,11273570,Adi,West of Twin Peaks,37.733100,-122.457360,Private room,500,2,0,NaN,NaN,1,90,2019-03-01
1067,2702606,Murphy bed in startup office,13830783,David,South of Market,37.776600,-122.396740,Entire home/apt,194,30,0,NaN,NaN,1,365,2019-03-01
1133,3068285,Fully Private Remodeled Sleek Studio in SOMA,13832870,International,South of Market,37.782870,-122.399580,Entire home/apt,141,30,0,NaN,NaN,33,365,2019-03-01
1174,3246879,Brand New 1 Bedroom in Hayes Valley,1257432,Rebecca,Western Addition,37.770770,-122.426100,Entire home/apt,150,30,0,NaN,NaN,34,339,2019-03-01
1176,3250833,"Roof Deck, Parking, Breakfast & Reception incl...",16443439,Joy,Russian Hill,37.806260,-122.423860,Entire home/apt,739,3,0,NaN,NaN,1,78,2019-03-01
1233,3512817,Room in Sunny Condo - Diamond Hts.,14766201,Tom,Diamond Heights,37.746630,-122.442600,Private room,80,7,0,NaN,NaN,2,64,2019-03-01
1249,3615642,Spacious and Sunny by the Bay,214187,Alan,Marina,37.806320,-122.436490,Private room,150,30,0,NaN,NaN,1,0,2019-03-01
1338,4152054,Ocean Front Surf & Sandy Beach View,21542156,Susan,Outer Richmond,37.772940,-122.511170,Entire home/apt,220,30,0,NaN,NaN,1,365,2019-03-01
1427,4594018,South Beach 2 BR with Views!,1257432,Rebecca,South of Market,37.786890,-122.388290,Entire home/apt,500,180,0,NaN,NaN,34,0,2019-03-01
1487,4897446,Luxury Apartment w/5-star Amenities,723220,Helena,Financial District,37.789720,-122.395470,Entire home/apt,300,30,0,NaN,NaN,5,365,2019-03-01
1510,5004303,Beautiful 1bd/1ba near the Presidio,13832870,International,Marina,37.797480,-122.445920,Entire home/apt,148,30,0,NaN,NaN,33,13,2019-03-01
1520,5071164,One bedroom with 5star amenities,723220,Helena,Financial District,37.789360,-122.396460,Entire home/apt,200,180,0,NaN,NaN,5,364,2019-03-01
1535,5193689,Casa Montero in Noe Valley,26866124,Roberto,Noe Valley,37.742030,-122.429990,Private room,200,3,0,NaN,NaN,1,38,2019-03-01
1554,5286779,"WOW SF!MASTERBR,PRIV BA,NR SO SF,DALY CITY,NO BAY",408300,Jennifer,Bayview,37.726160,-122.383900,Private room,55,30,0,NaN,NaN,8,363,2019-03-01
1569,5436115,Private Bedroom in the Dogpatch!,18014246,Carlos,Potrero Hill,37.759310,-122.387520,Private room,85,30,0,NaN,NaN,1,0,2019-03-01
1583,5560256,Beautiful shared apartment,6334749,Tim,Mission,37.755330,-122.414650,Private room,195,30,0,NaN,NaN,2,365,2019-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6853,48257425,Fully furnished studio in SOMA,214747832,Patricia,South of Market,37.775280,-122.416210,Entire home/apt,90,30,0,NaN,NaN,2,263,2021-03-01
6854,48258150,Bohemian Vibes w/ Panorama Deck in Pacific Hei...,6981296,Theresa,Western Addition,37.784450,-122.444310,Entire home/apt,284,7,0,NaN,NaN,1,24,2021-03-01
6855,48267727,B-Bright Room with Private Bath at Marina,157999191,Berlin,Marina,37.800540,-122.433830,Private room,55,30,0,NaN,NaN,5,178,2021-03-01
6856,48269918,MTV Real World Penthouse San Francisco,7873769,Marty,Russian Hill,37.801080,-122.418180,Entire home/apt,1280,30,0,NaN,NaN,2,90,2021-03-01
6857,48272970,Furnished 1BR w/ Balcony and Parking #8,7799719,Jon,Haight Ashbury,37.769640,-122.443770,Entire home/apt,80,30,0,NaN,NaN,7,331,2021-03-01
6858,48274411,E-Bright Room in the heart of Marina,157999191,Berlin,Marina,37.799140,-122.434060,Private room,45,30,0,NaN,NaN,5,175,2021-03-01
6859,48274426,D-Bright Room in the heart of Marina,157999191,Berlin,Marina,37.800840,-122.433870,Private room,48,30,0,NaN,NaN,5,178,2021-03-01
6860,48274436,C-Bright Room in the heart of Marina,157999191,Berlin,Marina,37.801020,-122.432210,Private room,40,30,0,NaN,NaN,5,124,2021-03-01
6861,48279753,Classical 2 Bedroom 2 Bath Apartment with SF V...,37908949,Sammy,Bayview,37.733340,-122.387340,Entire home/apt,119,30,0,NaN,NaN,1,176,2021-03-01
6862,48299614,Cozy 2 Beds/2 Baths Private Suite in Central SF,389814586,JieYan,Parkside,37.740660,-122.472300,Entire home/apt,118,1,0,NaN,NaN,1,180,2021-03-01
6863,48299996,Modern Studio in the best neighborhood of SF,143751782,Marina,Marina,37.803780,-122.433440,Entire home/apt,76,30,0,NaN,NaN,1,32,2021-03-01
6864,48303048,Luxurious Master Bedroom on the Embarcadero!,2020189,Samik,South of Market,37.788530,-122.389050,Private room,125,30,0,NaN,NaN,3,0,2021-03-01
6865,48304083,Urban Getaway for Galavanting Guests,33856710,Samson,Outer Mission,37.731500,-122.448690,Entire home/apt,136,1,0,NaN,NaN,2,60,2021-03-01
6866,48313705,Beautiful condo on the top of Russian Hill,7736674,Sydney,Russian Hill,37.800880,-122.418790,Entire home/apt,120,90,0,NaN,NaN,1,27,2021-03-01
6867,48314773,The Rincon,80110040,Christopher,Financial District,37.791640,-122.393200,Private room,60,30,0,NaN,NaN,1,113,2021-03-01
6868,48326392,"SoMa 1BR w/ Gym, BBQ, walk to Uber, Twitter, D...",107434423,Blueground,South of Market,37.780850,-122.411800,Entire home/apt,158,30,0,NaN,NaN,177,331,2021-03-01
6869,48326770,Brand New Modern Studio with Private Patio,129904961,Galina,Pacific Heights,37.795760,-122.424720,Entire home/apt,100,30,0,NaN,NaN,2,177,2021-03-01
6870,48328734,Test_02/25 StartUp House - Private Room,269221260,Startup House,Western Addition,37.779550,-122.432760,Private room,38,30,0,NaN,NaN,39,365,2021-03-01
6871,48333201,Pac Hts Gem w/ in-unit W/D & AC,381077616,Annette,Pacific Heights,37.789180,-122.437600,Entire home/apt,220,30,0,NaN,NaN,5,179,2021-03-01
6872,48336400,"Modern 1BR in South Beach, Gym + Pool + Parking",48005494,Zeus,South of Market,37.783290,-122.388530,Entire home/apt,213,30,0,NaN,NaN,77,364,2021-03-01
6873,48336411,"Beautiful 1BR in South Beach, Gym + Pool",48005494,Zeus,South of Market,37.782990,-122.390000,Entire home/apt,202,30,0,NaN,NaN,77,364,2021-03-01
6874,48336416,"Wonderful 1BR in South Beach, Gym + Pool",48005494,Zeus,South of Market,37.781380,-122.389980,Entire home/apt,138,30,0,NaN,NaN,77,364,2021-03-01
6875,48338174,Wooden city,33399613,Jie,Western Addition,37.784530,-122.444740,Entire home/apt,8000,30,0,NaN,NaN,1,176,2021-03-01
6876,48348960,Mid Century Modern Designer Suite in Bernal He...,264963463,Jean,Mission,37.748340,-122.414070,Entire home/apt,200,2,0,NaN,NaN,3,71,2021-03-01
6877,48362746,High Style in San Francisco’s SOMA - 2Br/ 2Ba,28504401,R,South of Market,37.785190,-122.396110,Entire home/apt,120,30,0,NaN,NaN,1,283,2021-03-01
6878,48369690,Studio bernal San Francisco,389015392,Adrian,Bernal Heights,37.743590,-122.410660,Entire home/apt,62,5,0,NaN,NaN,2,316,2021-03-01
6879,48375203,Room in Top Floor Remodeled Flat w/ HUGE DECK,2238981,Lenza,Mission,37.764490,-122.406460,Private room,46,30,0,NaN,NaN,5,359,2021-03-01
6880,48380336,"Luxury Room w/ TV, workstation & rooftop balcony",6231463,Elie,Mission,37.767180,-122.423630,Private room,92,14,0,NaN,NaN,1,39,2021-03-01
6881,48381461,Hayes Valley 2 BR 2 BA w Rooftop Deck,1257432,Rebecca,Downtown/Civic Center,37.776716,-122.419707,Entire home/apt,127,30,0,NaN,NaN,23,365,2021-03-01
6882,48382323,Heart of Downtown San Francisco Wyndham Canter...,199349788,Dan,Downtown/Civic Center,37.788540,-122.413357,Private room,136,3,0,NaN,NaN,1,359,2021-03-01

In [53]:
temp = dt[dt.last_review.isnull()]
temp.number_of_reviews.unique()

array([0])

In [54]:
# We see that missing values in columns last review and reviews per months is bc these listings did not get any reviews

In [55]:
## NOW LETS CHECH CATEGORICAL VARIABLES

In [56]:
cat_var = dt.select_dtypes(include = ['object'])

In [58]:
cat_var.columns

Index(['name', 'host_name', 'neighbourhood', 'room_type', 'last_review'], dtype='object')

In [65]:
# now we check if there are any duplicates

In [64]:
dupes = dt[dt.duplicated() == True]
dupes

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, date]
Index: []

In [71]:
# lets dig into the neighbourhoods

In [72]:
dt.neighbourhood.unique()

array(['Western Addition', 'Bernal Heights', 'Haight Ashbury', 'Mission',
       'Potrero Hill', 'Downtown/Civic Center', 'Castro/Upper Market',
       'Inner Sunset', 'South of Market', 'Noe Valley', 'Nob Hill',
       'Outer Richmond', 'Presidio Heights', 'Glen Park', 'Ocean View',
       'Pacific Heights', 'Financial District', 'Twin Peaks',
       'Russian Hill', 'Outer Sunset', 'North Beach', 'Marina',
       'Inner Richmond', 'Excelsior', 'Seacliff', 'Chinatown',
       'West of Twin Peaks', 'Bayview', 'Diamond Heights',
       'Outer Mission', 'Parkside', 'Lakeshore', 'Crocker Amazon',
       'Golden Gate Park', 'Visitacion Valley', 'Presidio',
       'Treasure Island/YBI'], dtype=object)

In [70]:
(dt.groupby(by = 'room_type')['neighbourhood'].value_counts())

room_type        neighbourhood
Entire home/apt  South of Market          11210
                 Mission                  11034
                 Western Addition          8742
                 Downtown/Civic Center     7200
                 Castro/Upper Market       6997
                                          ...
Shared room      Lakeshore                   23
                 Bernal Heights              20
                 Excelsior                   15
                 Treasure Island/YBI          4
                 Glen Park                    2
Name: neighbourhood, Length: 117, dtype: int64